{% extends "faculty/page.jinja" %}

{% block precontainer %}
	<div id="jumbo" class="jumbotron">
  		<div class="container">
			{% block jumbocontent required %}{% endblock %}
  		</div>
	</div>
{% endblock %}
