{% extends "faculty/jumbo.jinja" %}

{% block title %}About{% endblock %}

{% block jumbocontent %}
    <div class="col-md-10">
        <h2>{{ titleMuted('Hello.', 'My name is {}.'.format(data.name)) }}</h2>
        <p class="lead">
            {{ data.tagline }}
        </p>
    </div>

    <div class="col-md-2">
        <img class="img-responsive img-thumbnail" src="{{ data.mug }}" />
    </div>
{% endblock %}

{% block content %}
    Have you read my <a href="research.html">papers</a>?
{% endblock %}
